<div class="career-bg-container">
    <div class="container">

        <div class="text-center">
            <span>One simple promise: caress at Estrella are never boaring1
            </span>
            <h3>
                +30 open positions waiting for you.
            </h3>
            <p class="banner-caption">
                We’re looking for talented, ambitious, curious and bold people to build the<br>
                future of spending at work.
            </p>
            <button class="custom-outline-button">Upload Resume</button>
            <button class="custom-button">View Open Jobs</button>
        </div>
    </div>

</div>

<div class="job-filter">

    <div class="container">
        <form class="career-form" target="_blank">
            <h3>Filter by</h3>
            <div class="col-xs-3 col-md-4 col-lg-3">
                <div class="select-container">
                    <select class="custom-select">
                        <option value="0">Location</option>
                        <option value="1">Bangalore</option>
                        <option value="2">Hyderabad</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-md-4 col-lg-3">
                <div class="select-container">
                    <select class="custom-select">
                        <option value="0">Team</option>
                        <option value="1">Bangalore</option>
                        <option value="2">Hyderabad</option>
                        <option value="3">Bangalore</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-md-4 col-lg-3">
                <div class="select-container">
                    <select class="custom-select">
                        <option value="0">Work Type</option>
                        <option value="1">Full stack Developer</option>
                        <option value="2">Front end Developer</option>
                        <option value="3">Android Developer</option>
                    </select>
                </div>
            </div>
        </form>
    
        <div class="job-box">
            <div>
                <h3>Full stack Developer</h3>
                <span>Banglore,Hyderabad</span>
                <ul>
                    <li>Ex: 5 Years</li>
                </ul>
            </div>
            <div>
                <button class="custom-button">Apply Now</button>
            </div>
        </div>
    
        <div class="job-box">
            <div>
                <h3>Front end Developer</h3>
                <span>Banglore,Hyderabad</span>
                <ul>
                    <li>Ex: 5 Years</li>
                </ul>
            </div>
            <div>
                <button class="custom-button">Apply Now</button>
            </div>
        </div>
    
        <div class="job-box">
            <div>
                <h3>UX/UI Designer</h3>
                <span>Banglore,Hyderabad</span>
                <ul>
                    <li>Ex: 5 Years</li>
                </ul>
            </div>
            <div>
                <button class="custom-button">Apply Now</button>
            </div>
        </div>
    
        <div class="job-box">
            <div>
                <h3>Product Designer</h3>
                <span>Banglore,Hyderabad</span>
                <ul>
                    <li>Ex: 5 Years</li>
                </ul>
            </div>
            <div>
                <button class="custom-button">Apply Now</button>
            </div>
        </div>
    
        <div class="job-box">
            <div>
                <h3>Data Engineer</h3>
                <span>Banglore,Hyderabad</span>
                <ul>
                    <li>Ex: 5 Years</li>
                </ul>
            </div>
            <div>
                <button class="custom-button">Apply Now</button>
            </div>
        </div>
    
        <div class="job-box">
            <div>
                <h3>Android Developer</h3>
                <span>Banglore,Hyderabad</span>
                <ul>
                    <li>Ex: 5 Years</li>
                </ul>
            </div>
            <div>
                <button class="custom-button">Apply Now</button>
            </div>
        </div>
    </div>

</div>
