<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="main-nav-sec">
          <a class="navbar-brand"><img src="/assets/images/logo.svg" alt="logo"></a>
          <div class="middle-section">
            <ul class="nav navbar-nav nav-links">
              <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
              <li><a class="dropdown-toggle" data-toggle="dropdown">Services
                  <span class="caret"></span>
                  <!-- <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                </ul> -->
                </a></li>

              <li routerLinkActive="active"><a>About us</a></li>
              <li routerLinkActive="active"><a routerLink="/careers">Careers</a></li>
              <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

              <div class="talk-experts">
                <span>
                  Talk To Our Experts: <a href="tel:7660966660">7660 966 660</a>
                </span>
                <small><img src="/assets/images/whatsapp.svg" alt="img"></small>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

</header>