footer{ width: 100%;}
.footer-top { background:url('/assets/images/subscribe-bg.png') no-repeat top center; height: 313px; background-size: cover;display: flex; align-items: center;}
.footer-top-in { display: flex; align-items: center; justify-content: space-between;}
.footer-top-lft h4 { color: #fff;  font-family: 'AvenirNextBold'; font-size:30px; line-height: 40px; margin-bottom:30px;}
.footer-top-lft p { color: #fff; font-size:20px; line-height:30px;}

.footer-top-rgt { width:30%;}
.search-box { background: #fff; border-radius: 50px; display: flex; align-items: center;}
.search-box .form-control {
padding:20px 15px 15px; height: auto; font-size: 18px; border-radius:50px 0 0 50px; border: none;
}
.search-box button{
outline: none; border:none; background: transparent; cursor: pointer; padding: 5px 20px 0;
border-left: #000 2px solid;
height: 62px; font-weight:600;
} 
.search-box .form-control:focus {
box-shadow: none;
}

.footer-mdl { background: #fff; padding:50px 0 0; margin: 0;}
.footer-mdl-in { width: 100%;}
.footer-mdl-in ul { width: 100%; display: flex; align-items:flex-start;}
.footer-mdl-in ul li { width: 22%;}
.footer-mdl-in ul li.footer-nav-links { width:16%;}
.footer-mdl-in ul li span { display: inline-block; padding-bottom: 20px;}
.footer-mdl-in ul li span a { cursor: pointer;}
.footer-mdl-in ul li p { font-size:16px; line-height: 25px;}
.footer-mdl-in ul li small a { cursor: pointer; font-size: 16px; line-height: 16px; color: #000; position: relative;}
.footer-mdl-in ul li small { display: block; margin-bottom: 18px;}

.footer-mdl-in ul li.nav-space { padding: 25px 0 0;}

.mail-box { display: flex; align-items:flex-start; margin-bottom: 30px;}
.mail-add { padding-left: 20px;}
.mail-add h4 {
margin: 0 0 10px;font-family: 'AvenirNextBold'; font-size: 16px; line-height: 16px;
}
.mail-add a {
font-size: 16px; line-height: 16px; cursor: pointer; color: #000;
}
.mail-add address {
font-size: 18px; line-height:25px;color: #000;
}

.footer-mdl-in ul li small a::after{ content: ''; position: absolute; bottom: 0; left: 50%; width: 0; border-bottom: 2px solid #0C30FB;-webkit-transition:all 0.4s ease-out;
-moz-transition:all 0.4s ease-out;
-o-transition: all 0.4s ease-out;
transition: all 0.4s ease-out;}
.footer-mdl-in ul li small a:hover::after { left: 0; width: 100%;
-webkit-transition:all 0.4s ease-out;
-moz-transition:all 0.4s ease-out;
-o-transition: all 0.4s ease-out;
transition: all 0.4s ease-out;}

.footer-btm { background: #fff;}
.footer-btm-in {
    border-top: #c7c7c7 1px solid;
    padding: 20px 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icons {
display: block;
}
.social-icons ul {
    display: flex;
    align-items: center;
}
.social-icons ul li { padding: 0 3px;}
.social-icons ul li a {
    cursor: pointer; 
    -webkit-transition: 0.6s ease-out;
    -moz-transition:  0.6s ease-out;
    transition:  0.6s ease-out;
}
.social-icons ul li a img:hover{ 
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotate(360deg);
    transform: rotateX(360deg);
    -webkit-transition: 0.6s ease-out;
    -moz-transition:  0.6s ease-out;
    transition:  0.6s ease-out;
}

.copy p { font-size: 15px;}