<footer>
     <div class="footer-top">
         <div class="container">
            <div class="footer-top-in">
                <div class="footer-top-lft">
                    <h4>Subscribe Our Newsletter</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="footer-top-rgt">
                        <div class="search-box">
                            <input type="text" class="form-control" placeholder="Enter your email">
                            <button>SUBMIT</button>
                        </div>
                </div>
            </div>
         </div>
     </div>
     <div class="footer-mdl">
        <div class="container">
            <div class="footer-mdl-in">
                 <ul>
                     <li>
                        <span>
                           <a> <img src="../../assets/images/logo.svg" alt="logo"></a>
                        </span>  
                        <p>Estrella founded is a digital
                            transformation consultancy and
                            software development company
                            headquartered in the US.</p> 
                     </li>
                     <li class="footer-nav-links nav-space">
                         <small>
                             <a routerLink="/home">Home</a>
                         </small>
                         <small>
                            <a>About us</a>
                        </small>
                        <small>
                            <a routerLink="/careers">Careers</a>
                        </small>
                        <small>
                            <a routerLink="/contact">Contact</a>
                        </small>
                     </li>

                     <li class="nav-space">
                        <small>
                            <a>Services</a>
                        </small>
                        <small>
                           <a>Software development</a>
                       </small>
                       <small>
                           <a>Staff argumentation</a>
                       </small>
                       <small>
                           <a>IT consulting services</a>
                       </small>
                    </li>

                    <li class="nav-space">
                        <div class="mail-box">
                            <img src="/assets/images/mail_icon.svg" alt="img">
                            <div class="mail-add">
                                <h4>Mail us for help:</h4>
                                <a href="mailto:info@estrellait.com">info@estrellait.com</a>
                            </div>
                        </div>
                        <div class="mail-box">
                            <img src="/assets/images/address_icon.svg" alt="img">
                            
                            <div class="mail-add">
                                <h4>Address</h4>
                                <address>2108 N ST STE N <br>
                                    SACRAMENTO, CA 95816</address>
                            </div>
                        </div>
                    </li>

                    <li class="nav-space">
                        <div class="mail-box">
                            <img src="/assets/images/call.svg" alt="img">
                            
                            <div class="mail-add">
                                <h4>Call us:</h4>
                                <a href="tel:9618402751">+91 - 96184 02751</a>
                            </div>
                        </div>                        
                    </li>

                 </ul>
            </div>
        </div>
    </div>
    <div class="footer-btm">
         <div class="container">
            <div class="footer-btm-in">
                <div class="copy">
                    <p>© 2021 – 2022 All rights reserved by Estrella it services.</p>
                </div>
                <div class="social-icons">
                    <ul>
                        <li>
                            <a><img src="/assets/images/fb.svg" alt="img"> </a>
                          </li>
                          <li>
                            <a><img src="/assets/images/in.svg" alt="img"> </a>
                          </li>
                          <li>
                            <a><img src="/assets/images/tw.svg" alt="img"> </a>
                          </li>
                          <li>
                            <a><img src="/assets/images/yt.svg" alt="img"> </a>
                          </li>
                          <li>
                            <a><img src="/assets/images/li.svg" alt="img"> </a>
                          </li>
                    </ul>
                </div>
            </div>
         </div>
    </div>
</footer>