<footer>
     <div class="footer-top">
         <div class="container">
            <div class="footer-top-in">
                <div class="footer-top-lft">
                    <h4>Subscribe Our Newsletter</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="footer-top-rgt">
                        <div class="search-box">
                            <input type="text" class="form-control" placeholder="Enter your email">
                            <button>SUBMIT</button>
                        </div>
                </div>
            </div>
         </div>
     </div>
     <div class="footer-mdl">
        <div class="container">
            <div class="footer-mdl-in">
                 <ul>
                     <li>
                        
                     </li>
                 </ul>
            </div>
        </div>
    </div>
    <div class="footer-btm">
         <div class="container">
            <div class="footer-btm-in">
                <div class="copy"></div>
                <div class="social-icons">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
         </div>
    </div>
</footer>