<div class="contact-forms">
    <div class="container">
        <div class="companies-section-in">
            <h3>
                Please leave your details, <br> Our Expert will get back to you shortly.
            </h3>
            <b>Request a call back</b>

            <ul>
                <li>
                    <input type="text" class="form-control" placeholder="First name*">
                </li>
                <li>
                    <input type="text" class="form-control" placeholder="Enter your email*">
                </li>
                <li>

                    <div class="phone-block">

                        <div class="country-drop">
                            <select class="form-control">
                                <option value="" selected>Select Contry</option>
                                <option value="India">India (+91)</option>
                                <option value="Usa">Usa (+01)</option>
                            </select>
                            <div class="select-drop select-drop1 "></div>
                        </div>

                        <input type="number" class="form-control form-control1" placeholder="Phone number*">

                    </div>

                </li>
                <li>

                    <select class="form-control">
                        <option value="" selected>Select Service</option>
                        <option value="India">India</option>
                        <option value="two">two</option>
                        <option value="three">three</option>
                    </select>
                    <div class="select-drop"></div>
                </li>

                <li>
                    <textarea rows="4" cols="50" placeholder="Your message" class="form-control"></textarea>
                </li>
                <li>
                    <button class="btn">Submit</button>
                </li>
            </ul>
            <small>By submitting your information, you are consenting to let <br>
                inspanner academy maintain the data you provide.</small>

        </div>
    </div>
</div>

<div class="map-section">
    <div class="container">
        <h3>We’re here for you. Say hello.</h3>
        <div class="map-section-in">
            <div class="map-section-lft">
                <div class="add-section">
                    <figure>
                        <img src="/assets/images/usa.svg" alt="img">
                    </figure>
                    <div class="india-address">
                        <h4>USA</h4>
                        <p><a href="tel:6504229533">+1 650 422 9533</a></p>
                       <p> <a href="mailto:info@estrellait.com">info@estrellait.com</a></p>
                        <address>
                            2108 N ST STE N <br>
                            SACRAMENTO, CA 95816
                        </address>
                    </div>
                </div>

                <div class="add-section">
                    <figure>
                        <img src="../../assets/images/India.svg" alt="img">
                    </figure>
                    <div class="india-address">
                        <h4>India</h4>
                        <p><a href="tel:8801048218">+91 880 104 8218</a></p>
                        <p><a href="mailto:info@estrellait.com">info@estrellait.com</a></p>
                        <address>
                            91 Springboard Jubilee Enclave, HITEC City, <br>
                            Hyderabad, Telangana 500081
                        </address>
                    </div>
                </div>

            </div>
            <div class="map-section-rgt">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3119.3574779856217!2d-121.48250458255613!3d38.571614999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ad1377eabbaf3%3A0x7f2a65921b7e03fd!2s2108%20N%20St%20n%2C%20Sacramento%2C%20CA%2095816%2C%20USA!5e0!3m2!1sen!2sin!4v1658368183758!5m2!1sen!2sin"
                    width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>


    </div>
</div>