.banner{ display: block;}
.banner .carousel-indicators .active {width: 16px;
height: 16px; margin: 0 5px; background-color: #fff;}
.banner .carousel-indicators li { width: 16px; height: 16px; margin: 0 5px; border: none; background-color: #f8f8f880;}
.banner .carousel-caption {
right: 0;
left: 0;
padding-bottom: 0;
height: 100%;
top: 0;
display: flex;
align-items: center;
}
.banner .container { text-align: left;}
.banner h1 { 
font-family: 'AvenirNextBold'; font-size: 50px; line-height: 65px; margin-bottom: 20px; text-align: left; text-shadow: none;
}
.banner p { 
font-size: 20px; line-height: 30px;margin-bottom: 20px;text-shadow: none;
}
.banner a {
background:#fff; border-radius:50px; padding:20px 30px;color:#0C30FB; cursor: pointer;text-shadow: none; display: inline-block;font-family: 'AvenirNextBold';
font-size: 20px;
}
.banner a:hover {
color:#3953e1; background: #ffffffe0;   
}
.banner .carousel-indicators { width: auto; bottom: 60px; left:43%;}

/* company logo section */
.company_logo_section{
padding: 85px 0px;
}

.company_logo_section h2{
font-weight: 900;
font-size: 25px; color: #000; line-height: 30px;
font-family: 'AvenirNextBold';
}

.logo_list {
list-style-type: none;
padding-left: 0px;
display:flex;
justify-content:space-evenly;
padding-top: 20px;
}

/* About us section */
.about-section-bg {
background-color: #fafaff;
padding: 85px 0px;
}

.about-heading-main {
font-size:20px; line-height: 25px;
color: #0C30FB;
font-weight: 900;
}

.about-heading {
font-size: 30px;
color: #000000;
font-family: 'AvenirNextBold';
font-weight: 900; line-height: 30px; margin-bottom: 20px;
}

.about-description {
font-size: 18px;
color: #323132;
line-height: 28px; margin-bottom: 40px;
}
.about-description_bold{
font-weight: bold;
font-style: italic;
font-size:20px;
}

.about-vision {
font-size:20px; line-height: 20px; margin-bottom: 20px;
color: #000000;
font-weight: 600;
}


/* It services section */
.It-services-section{
background-color: #fafaff;
padding: 50px 0px 120px;
}

.It-services-section h1{
font-size:30px; line-height: 30px;
font-weight: bold;
font-family: 'AvenirNextBold'; margin-bottom: 30px;
}

.It-services-section span{
color: #0C30FB;
}

.It-services-description{
font-size: 18px;
color: #252424;
line-height: 28px;
}

.It-services-heading{
font-size: 24px;
color: #252424;
padding-top: 0px;
padding-bottom: 0px;
font-family: 'AvenirNextBold';
}

.It-services-shadow{
background-color: #ffffff;
padding: 40px 0px;
box-shadow: 0px 5px 10px 5px #e1e1e1;
border-radius: 15px;
position: relative;
}

.It-services-up-arrow::after{
content: '';
position: absolute;
top:-5%;
left:0;
right: 0;
margin: 0 auto;
width: 0;
height: 0;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
border-bottom: 50px solid #ffffff;
}
.logo_list li a { cursor: pointer;}
.It-services-up-arrow { padding:0;}
.It-services-up-arrow ul { display: flex; align-items: center; flex-wrap: wrap;}
.It-services-up-arrow ul li { width: 33%; padding: 0 40px; margin-bottom: 20px;}
.It-services-up-arrow ul li p { margin-bottom: auto;}
.It-services-section p {
margin-bottom: 80px;
}

.It-services-up-arrow ul li h1{
font-size: 24px;
color: #252424;
padding-top: 0px;
padding-bottom: 0px;
font-family: 'AvenirNextBold'; margin-bottom:20px;
}

.companies-section { display: block; padding: 50px 0;}
.companies-section-in { text-align: center;}

.companies-section-in h3{
font-size:30px; line-height: 30px;
font-weight: bold;
font-family: 'AvenirNextBold'; margin-bottom:20px;
}

.companies-section-in h3 span{
color: #0C30FB;
}

.companies-section-in p{
font-size: 18px;
line-height: 28px; font-weight: 600;
}
.companies-inner-section { display: flex; align-items: center; justify-content: space-between; padding:70px 0 50px;}
.companies-inner-lft { padding:0; width: 45%;}
.companies-inner-lft h4 {
font-size:30px; line-height: 30px;
font-weight: bold;
font-family: 'AvenirNextBold'; margin-bottom:20px;
}
.companies-inner-lft small{
font-size: 18px;
line-height:26px; margin-bottom: 20px; display: block;
}
.companies-inner-lft ul { display: flex; align-items: flex-start; width: 100%; flex-wrap: wrap;}
.companies-inner-lft ul li { margin-bottom: 10px; width: 100%;}
.companies-inner-lft ul li span { width:40px; display: inline-block;}
.companies-inner-lft ul li em {
font-size: 18px;
line-height: 28px; font-style: normal;
}
.companies-inner-lft p{
font-size: 18px;
line-height:27px; margin-bottom: 20px;
}

.companies-inner-rgt { background: #fff; box-shadow: 0px 5px 10px 5px #e1e1e1; border-radius: 10px; padding: 50px 100px; width: 45%;}
.soft-block { display: flex; align-items:baseline;}
.right-block { width:40px;}

.explore {
cursor: pointer; margin-top:30px;
}
.explore small {
color: #0C30FB; font-size:20px; line-height: 20px;font-family: 'AvenirNextBold'; margin-bottom: 0;
}
.explore small img {
padding-left: 10px;
}
.companies-inner-rgt figure img { width: 100%; height: auto;}

.client-sliders {
background: #0C30FB; text-align: center; padding: 50px 0;
}
.client-sliders h2{
font-size:30px;
padding-top: 0px;
padding-bottom: 0px;
font-family: 'AvenirNextBold'; margin-bottom:30px;color: #fff; line-height: 30px;
}
.client-sliders p{
font-size: 18px;
line-height:27px; margin-bottom: 20px; color: #fff;
}

.contact-forms { padding: 50px 0 80px;}
.contact-forms .companies-section-in h3 { line-height: 50px; margin-bottom: 50px;}
.contact-forms .companies-section-in b { font-weight: bold; font-size: 25px;font-family: 'AvenirNextBold'; }

.companies-section-in ul { width: 40%; margin:30px auto;}
.companies-section-in ul li { margin-bottom: 20px; position: relative;}
.companies-section-in ul li .form-control { border: #8d8d8d 1px solid; height: auto; padding: 15px 20px; color: #000; border-radius: 10px;
font-size: 16px;}
.companies-section-in ul li .btn {
background: #0C30FB; display: block; padding:25px 20px;font-family: 'AvenirNextBold';color: #fff; font-size: 17px; line-height: 17px; width: 100%;
border-radius:10px; border: none;
}
.companies-section-in small{ font-size: 15px; line-height: 25px;}
.btn.focus, .btn:focus, .btn:hover { outline: none; border:none;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
color: #000;
}
:-moz-placeholder { /* Firefox 18- */
color: #000;
}
.companies-section-in ul li .form-control:focus{
box-shadow: none;
}
.companies-section-in ul li .select-drop{
 position: absolute; top: 12px; right:13px; background:url('/assets/images/Dropdown arrow.svg') no-repeat top center; height: 32px; width: 32px;
}


