<div class="banner">

   <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="1"></li>
         <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>


      <div class="carousel-inner">
         <div class="item active">
            <img src="/assets/images/banner1.png" alt="banner">
            <div class="carousel-caption">
               <div class="container">

                  <h1>Build Your Dreams. <br>
                     Build Yours</h1>
                  <p>Let’s create experiences that connect people and drive <br>
                     meaningful outcomes for organisation</p>
                  <a>Explore Services</a>
               </div>
            </div>
         </div>

         <div class="item">
            <img src="/assets/images/banner2.png" alt="banner">
            <div class="carousel-caption">
               <div class="container">
                  <h1>Finding Qualified People <br>
                     For Your Business</h1>
                  <p>We connect the most qualiﬁed IT professionals with <br>
                     many companies across the globe</p>
                  <a>Explore Services</a>
               </div>
            </div>
         </div>

         <div class="item">
            <img src="/assets/images/banner3.png" alt="banner">
            <div class="carousel-caption">
               <div class="container">
                  <h1>It Solutions For <br>
                     Next Gen Business</h1>
                  <p>We deliver value-based IT solutions to effectively <br>
                     transform and improve your business performance</p>
                  <a>Explore Services</a>
               </div>
            </div>
         </div>

      </div>


   </div>
</div>

<div class="container text-center company_logo_section">
   <h2>
      More Than 200+ Companies
   </h2>
   <ul class="logo_list">
      <li><a><img src="/assets/images/image5.png"></a></li>
      <li><a><img src="/assets/images/image6.png"></a></li>
      <li><a><img src="/assets/images/image7.png"></a></li>
      <li><a><img src="/assets/images/image8.png"></a></li>
      <li><a><img src="/assets/images/image9.png"></a></li>
   </ul>
</div>

<div class="about-section-bg" id="Aboutme">
   <div class="container">
      <h1 class="about-heading-main">About Us</h1>
      <div class="row">
         <div class="col-xs-12 col-md-6 ">
            <h1 class="about-heading mb-3">We are build a software teams</h1>
            <p class="about-description">Estrella founded is a digital transformation consultancy and
               software development company headquartered in the US. We
               are experts in the design and development of tech products that
               will help your business improve its process and satisfy the users.
               With a team of 20+ years of experience, we are helping Fortune
               500 companies and enterprise clients during their digital
               evolution journey
            </p>
            <p class="about-description about-description_bold">Let’s walk together and architect an impressive business
               realm.</p>
         </div>
         <div class="col-xs-12 col-md-6 order-2 order-md-1 d-none d-md-block">
            <h1 class="about-vision mb-3">Our Vision </h1>
            <p class="about-description">We are a global IT consulting and software development
               company with a We Care attitude. We help clients make the
               most of digital technologies to innovate for growth. Because
               technology exists to simplify lives… and businesses
            </p>
            <h1 class="about-vision mb-3">Mission</h1>
            <p class="about-description">Our mission is to deliver an unparalleled partnership experience
               to every customer, we serve by understanding their business
               objectives and then applying world-class information
               technologies and processes to help achieve their goals
            </p>
         </div>
      </div>
   </div>
</div>

<!-- <div class="services-section">
  <div class="container col-xs-12 text-center">
     <h1 class="services-main-heading">
        <span class="services-color">We bridge the gap between</span> you and companies.
     </h1>
     <p class="services-sub-description mb-3">Explore Top Services</p>
  
  <div class="services-list">
     <div class="col-xs-12 col-md-6">
        <h1 class="services-heading">Software Development</h1>
        <p class="services-description">We design and build digital products for companies of all sizes
           Our team of experts excels in every technology powering
        </p>
        <div class="services">
           <ul class="services-Rightmark">
              <li><span><img src="/assets/images/Right mark.svg"></span><small class="services-Rightmark-space">native, hybrid, cross-platform, and custom</small><br>
                 <small class="services-Rightmark-long-space">mobile application development services</small>
              </li>
              <li><span><img src="/assets/images/Right mark.svg"></span><small class="services-Rightmark-space">web development services</small>
              </li>
              <li><span><img src="/assets/images/Right mark.svg"></span><small class="services-Rightmark-space">custom application programming</small>
              </li>
              <li><span><img src="/assets/images/Right mark.svg"></span><small class="services-Rightmark-space">cloud computing</small>
              </li>
           </ul>
           <p class="services-description">We can deliver the best in class on-demand enterprise
              apps to simplify every challenging task of our clients and
              thereby, boost the overall output.
           </p>
        </div>
        <a href="#" class="services-item-link">
        Explore
        <img src="/assets/images/right arrow.svg" class="right-arrow-icon" />
        </a>
     </div>
     <div class="col-xs-12 col-md-6">
        <img src="/assets/images/Software development.svg" class="services-image" />
     </div>
  </div>
  <div class="services-list">
     <div class="col-xs-12 col-md-6">
        <img src="/assets/images/Staffing Services.svg" class="services-image" />
     </div>
     <div class="col-xs-12 col-md-6">
        <h1 class="services-heading">Staffing Services
        </h1>
        <p class="services-description">We operate on Quality and not Quantity, and so we strive to
           provide opportunities to the right people for the right job at
           the right cost. We closely work with our clients and understand
           their business needs and environment which enables us to find
           the best candidate for their culture. We have flexible staffing
           options including contract, contract to permanent, and direct
           hire to meet your staffing needs. Our highly experienced team
           is ready to get you the right people, with the right skills,
           competencies, and attitudes while you stay focused on your
           operations and customers
        </p>
        <a href="#" class="services-item-link">
        Explore
        <img src="/assets/images/right arrow.svg" class="right-arrow-icon" />
        </a>
     </div>
  </div>

  <div class="container">
     <div class="col-xs-12 col-md-6 services-list">
        <h1 class="services-heading">Staffing Services
        </h1>
        <p class="services-description">We operate on Quality and not Quantity, and so we strive to
           provide opportunities to the right people for the right job at
           the right cost. We closely work with our clients and understand
           their business needs and environment which enables us to find
           the best candidate for their culture. We have flexible staffing
           options including contract, contract to permanent, and direct
           hire to meet your staffing needs. Our highly experienced team
           is ready to get you the right people, with the right skills,
           competencies, and attitudes while you stay focused on your
           operations and customers
        </p>
        <a href="#" class="services-item-link">
        Explore
        <img src="/assets/images/right arrow.svg" class="right-arrow-icon" />
        </a>
     </div>
     <div class="col-xs-12 col-md-6">
        <img src="/assets/images/IT Consulting Services.svg" class="services-image" />
     </div>
  </div>
</div>
</div> -->


<div class="companies-section">
   <div class="container">

      <div class="companies-section-in">
         <h3>
            <span class="services-color">We bridge the gap between</span> you and companies.
         </h3>
         <p>Explore Top Services</p>
      </div>


      <div class="companies-inner-section">
         <div class="companies-inner-lft">
            <h4>Software Development</h4>
            <small>We design and build digital products for companies of all sizes <br>
               Our team of experts excels in every technology powering</small>
            <ul>
               <li>
                  <div class="soft-block">
                     <div class="right-block">
                        <span><img src="/assets/images/right_mark.svg" alt="img"></span>
                     </div>
                     <em>native, hybrid, cross-platform, and custom <br>
                        mobile application development services</em>
                  </div>

               </li>
               <li>
                  <span><img src="/assets/images/right_mark.svg" alt="img"></span>
                  <em>web development services</em>
               </li>
               <li>
                  <span><img src="/assets/images/right_mark.svg" alt="img"></span>
                  <em>custom application programming</em>
               </li>
               <li>
                  <span><img src="/assets/images/right_mark.svg" alt="img"></span>
                  <em>cloud computing</em>
               </li>
            </ul>
            <p>We can deliver the best in class on-demand enterprise <br>
               apps to simplify every challenging task of our clients and <br>
               thereby, boost the overall output.</p>

            <div class="explore">
               <small>
                  Explore
                  <img src="/assets/images/right_arrow.svg" alt="img">
               </small>
            </div>
         </div>
         <div class="companies-inner-rgt">
            <figure>
               <img src="/assets/images/software.svg" alt="img">
            </figure>
         </div>
      </div>

      <div class="companies-inner-section">

         <div class="companies-inner-rgt">
            <figure>
               <img src="/assets/images/staffing.svg" alt="img">
            </figure>
         </div>

         <div class="companies-inner-lft">
            <h4>Staffing Services</h4>
            <small>We operate on Quality and not Quantity, and so we strive to
               provide opportunities to the right people for the right job at
               the right cost. We closely work with our clients and understand
               their business needs and environment which enables us to find
               the best candidate for their culture. We have flexible staffing
               options including contract, contract to permanent, and direct
               hire to meet your staffing needs. Our highly experienced team
               is ready to get you the right people, with the right skills,
               competencies, and attitudes while you stay focused on your
               operations and customers</small>

            <div class="explore">
               <small>
                  Explore
                  <img src="/assets/images/right_arrow.svg" alt="img">
               </small>
            </div>
         </div>


      </div>

      <div class="companies-inner-section">

         <div class="companies-inner-lft">
            <h4>It Consulting Services</h4>
            <small>At Estrella, our professionals will work collaboratively with
               you for a digital and technological transformation of your
               organisation. Our strategic IT consulting will help you
               implement the latest technologies to automate and digitalise
               operations and create a comprehensive product roadmap.
               Careful planning and effective execution of a defined IT
               strategy are required to stay competitive and meet the
               demands of modern users.</small>

            <div class="explore">
               <small>
                  Explore
                  <img src="/assets/images/right_arrow.svg" alt="img">
               </small>
            </div>
         </div>



         <div class="companies-inner-rgt">
            <figure>
               <img src="/assets/images/it_consulting.svg" alt="img">
            </figure>
         </div>


      </div>

   </div>
</div>


<div class="It-services-section">
   <div class="container">
      <h1 class="text-center">
         <span>Why Estrella IT</span> Services?
      </h1>
      <p class="It-services-description text-center">Lorem Ipsum is simply dummy text of the printing and
         typesetting<br>
         industry. Lorem Ipsum has been the industry’s standard dummy text ever.
      </p>

      <div class="It-services-shadow">

         <div class="It-services-up-arrow">
            <ul>
               <li>
                  <img src="/assets/images/team-img1.svg" class="It-services-image" />
                  <h1>
                     Teamwork
                  </h1>
                  <p class="It-services-description">
                     We as a team take more pride in our
                     work and that comes with greater
                     responsibility, gaining more authority
                     and leadership over the servicess we
                     are working on
                  </p>
               </li>
               <li>
                  <img src="/assets/images/team-img2.svg" class="It-services-image" />
                  <h1>
                     Respect For All People
                  </h1>
                  <p class="It-services-description">
                     We always welcome other’s ideas
                     and seek advice and criticism for
                     constant self-improvement,
                     empowering our team to shine
                  </p>
               </li>

               <li>
                  <img src="/assets/images/team-img3.svg" class="It-services-image" />
                  <h1>
                     Integrity
                  </h1>
                  <p class="It-services-description">
                     We at Estrella empower individuals
                     at every level to make decisions,
                     lead up with recommendations, and
                     deliver necessary feedback that
                     saves time and money
                  </p>
               </li>
               <li>
                  <img src="/assets/images/team-img4.svg" class="It-services-image" />
                  <h1>
                     Excellence
                  </h1>
                  <p class="It-services-description">
                     At Estrella, we search for better
                     solutions, and so we put in lot of time
                     to get work done, taking meaningful
                     risks for best results
                  </p>
               </li>

               <li>
                  <img src="/assets/images/team-img5.svg" class="It-services-image" />
                  <h1>
                     Speed In Servicing
                  </h1>
                  <p class="It-services-description">
                     We always provide personalized
                     service and speedy resolutions to our
                     customer’s needs with no compromise
                     in quality and that makes our company
                     stand out
                  </p>
               </li>

               <li>
                  <img src="/assets/images/team-img6.svg" class="It-services-image" />
                  <h1>
                     Truthfulness.
                  </h1>
                  <p class="It-services-description">
                     At Estrella, we strive to establish a
                     culture of open innovation and
                     collaboration enabling us to attain
                     potential rewards from our clients
                  </p>
               </li>

            </ul>

         </div>
         <div class="clearfix"></div>
      </div>
   </div>



</div>

<div class="client-sliders">
   <div class="container">

      <h2>Hear what our amazing Clients say</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting <br>
         industry. Lorem Ipsum has been the industry’s standard dummy text ever.</p>


      <div class="client-sliders-in">

         <div id="myCarousel1" class="carousel slide" data-ride="carousel">
         
            <div class="carousel-inner">
               <div class="item active">
                  <div class="carousel-main-sec">

                     <div class="carousel-cont">
                        <span><img src="/assets/images/testimonial.svg" alt="img"></span>
                        <p>Lorem Ipsum is simply dummy text of the
                           printing and typesetting industry. Lorem
                           Ipsum has been the industry’s standard
                           dummy text ever.</p>
                        <figure>
                           <img src="/assets/images/user.png" alt="img">
                        </figure>
                        <h4>Amaiya Singhal</h4>
                     </div>

                     <div class="carousel-cont">
                        <span><img src="/assets/images/testimonial.svg" alt="img"></span>
                        <p>Lorem Ipsum is simply dummy text of the
                           printing and typesetting industry. Lorem
                           Ipsum has been the industry’s standard
                           dummy text ever.</p>
                        <figure>
                           <img src="/assets/images/user.png" alt="img">
                        </figure>
                        <h4>Sophie Moore</h4>
                     </div>

                  </div>
                  
               </div>

               <div class="item">

                  <div class="carousel-main-sec">
                     <div class="carousel-cont">
                        <span><img src="/assets/images/testimonial.svg" alt="img"></span>
                        <p>Lorem Ipsum is simply dummy text of the
                           printing and typesetting industry. Lorem
                           Ipsum has been the industry’s standard
                           dummy text ever.</p>
                        <figure>
                           <img src="/assets/images/user.png" alt="img">
                        </figure>
                        <h4>Amaiya Singhal</h4>
                     </div>
                     <div class="carousel-cont">
                        <span><img src="/assets/images/testimonial.svg" alt="img"></span>
                        <p>Lorem Ipsum is simply dummy text of the
                           printing and typesetting industry. Lorem
                           Ipsum has been the industry’s standard
                           dummy text ever.</p>
                        <figure>
                           <img src="/assets/images/user.png" alt="img">
                        </figure>
                        <h4>Sophie Moore</h4>
                     </div>
                  </div>
                  
               </div>

            </div>

            <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left"></span>
               <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel1" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
               <span class="sr-only">Next</span>
            </a>


         </div>

      </div>
   </div>

</div>

<div class="career-bg-container">
   <div class="container">

      <div class="text-center">
         <span>One simple promise: caress at Estrella are never boaring1
         </span>
         <h3>
            +30 open positions waiting for you.
         </h3>
         <p class="banner-caption">
            We’re looking for talented, ambitious, curious and bold people to build the<br>
            future of spending at work.
         </p>
         <button class="custom-outline-button">Upload Resume</button>
         <button class="custom-button">View Open Jobs</button>
      </div>
   </div>

</div>

<div class="contact-forms">
   <div class="container">
      <div class="companies-section-in">
         <h3>
            <span class="services-color">Please leave your details,</span> <br> Our Expert will get back to you shortly.
         </h3>
         <b>Request a call back</b>

         <ul>
            <li>
               <input type="text" class="form-control" placeholder="First name*">
            </li>
            <li>
               <input type="text" class="form-control" placeholder="Enter your email*">
            </li>
            <li>

               <div class="phone-block">

                  <div class="country-drop">
                     <select class="form-control">
                        <option value="" selected>Select Contry</option>
                        <option value="India">India (+91)</option>
                        <option value="Usa">Usa (+01)</option>
                     </select>
                     <div class="select-drop select-drop1 "></div>
                  </div>

                  <input type="number" class="form-control form-control1" placeholder="Phone number*">

               </div>

            </li>
            <li>

               <select class="form-control">
                  <option value="" selected>Select Service</option>
                  <option value="India">India</option>
                  <option value="two">two</option>
                  <option value="three">three</option>
               </select>
               <div class="select-drop"></div>
            </li>

            <li>
               <textarea rows="4" cols="50" placeholder="Your message" class="form-control"></textarea>
            </li>
            <li>
               <button class="btn">Submit</button>
            </li>
         </ul>
         <small>By submitting your information, you are consenting to let <br>
            inspanner academy maintain the data you provide.</small>

      </div>
   </div>
</div>